* {
    border: none;
    border-radius: 0;
    font-family: "MesloLGM Nerd Font Mono";
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: rgba(25,18,33,0.3);
    color: rgba(197,198,199,0.7);
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

#workspaces {
    padding: 0 0px;
}


#workspaces button {
    padding: 0 5px;
    background: transparent;
    border-top: 2px solid transparent;
    color: rgba(197,198,199,0.5);
}
#workspaces button.empty {
    color: rgba(197,198,199,0.3);
}
#workspaces button.persistent {
    background: transparent;
    border-top: 2px solid transparent;
    color: rgba(197,198,199,0.3);
}
#workspaces button.active {
    color: rgba(197,198,199,0.7);
    border-top: 2px solid rgba(197,198,199,0.7);
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 6px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: rgba(250, 113, 7, 1);
    background-color: transparent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 30;
    animation-direction: alternate;
}


/*
#battery.warning:not(.charging) {
    color:      rgba(253, 227, 167, 1);
}
*/

#battery.critical:not(.charging) {
/*    color:      rgba(238, 46, 36, 1);*/
    background-color: #ff0000;
    color: white;
}
#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#custom-wireguard.notgood {
    color: #ff0000;
}

#custom-wireguard.good {
    color: #00ff00;
}

#custom-wireguard.ubu {
    color: rgba(250, 113, 7, 1);
}

#tray {
}

